package views

templ OnInvitation() {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Invitación</title>
		</head>
		<body>
			<main>
				<h1>Has sido invitado a unirte a un equipo</h1>
			</main>
		</body>
	</html>
}
