{{ define "title"}} Sitios {{end}}

<!-- Links -->
{{ define "links"}}
<link rel="stylesheet" href="/assets/static/dashboard/dist/pages.min.css" />
{{end}}

<!-- Scripts -->
{{ define "scripts"}}
<script src="/assets/static/dashboard/dist/pages.min.js"></script>
{{end}}

<!-- Content -->
{{ define "content" }}
<div x-data="{{ printf `pages({ url: %q, filepath: '/assets/dynamic/files/' })` .Config.Url }}" style="height: 100%">
  <template x-if="ready">
    <div class="container">
      <div class="editor">
        <!-- Page Selector -->
        <div role="group">
          <button @click="set(states.initial)">{{template "home.svg"}}</button>
          <button @click="set(states.create)">{{template "add.svg"}}</button>
          <template x-if="page != 'index'">
            <button @click="set(states.delete)">{{template "trash.svg"}}</button>
          </template>
          <button @click="set(states.font)">{{template "brand_family.svg"}}</button>
          <button @click="set(states.files)">{{template "image.svg"}}</button>
          <button @click="open = false; set(states.editor)">{{template "html.svg"}}</button>
          <button @click="open = false; set(states.styles)">{{template "css.svg"}}</button>
        </div>

        <!-- Select Site Page  -->
        <form @submit.prevent="update()" x-show="on(states.initial)" x-transition:enter.delay.75ms>
          <fieldset>
            <legend>Seleccionar Sitio</legend>
            <select name="page" @change="select($event.target.value)">
              <template x-for="(value, key) in pages" :key="key">
                <option :value="key" :selected="key === page" x-text="value.name"></option>
              </template>
            </select>
          </fieldset>
          <fieldset>
            <legend>Nombre</legend>
            <input name="name" x-model="data.name" required :disabled="pageIsIndex" />
          </fieldset>
          <fieldset>
            <legend>Titulo</legend>
            <input name="title" x-model="data.title" required />
          </fieldset>
          <fieldset role="group">
            <legend>Url</legend>
            <input name="url" :value="pageUrl" required disabled />
          </fieldset>
          <div class="actions">
            <button type="submit" :disabled="loading">Guardar</button>
          </div>
        </form>

        <!-- Create Page -->
        <form @submit.prevent="create()" x-show="on(states.create)" x-transition:enter.delay.75ms>
          <fieldset>
            <legend>Nombre</legend>
            <input name="name" x-model="form.name" required />
          </fieldset>
          <fieldset>
            <legend>Titulo</legend>
            <input name="title" x-model="form.title" required />
          </fieldset>
          <fieldset role="grop">
            <legend>Url</legend>
            <input name="url" :value="url + '/' + (form.name || '')" disabled />
          </fieldset>
          <div class="actions">
            <button :disabled="loading || !!pages[form.name]">Crear</button>
          </div>
        </form>

        <!-- Delete Page -->
        <div x-show="on(states.delete)" x-transition:enter.delay.75ms class="delete">
          <p>¿Estás seguro de que deseas eliminar este sitio ?</p>
          <div class="actions">
            <button @click="set(states.initial)" :disabled="loading">Cancelar</button>
            <button @click="remove()" class="danger" :disabled="loading">Eliminar</button>
          </div>
        </div>

        <!-- Fonts Page -->
        <div x-show="on(states.font)" x-transition:enter.delay.75ms>
          <template x-if="on(states.font)">
            <div x-data="fonts" @updated="render()">
              <template x-if="ready">
                <div>
                  <div x-show="on(states.initial)" x-transition:enter.delay.75ms>
                    <div class="fonts">
                      <div class="list">
                        <template x-for="(font, key) in current" :key="font.family">
                          <div class="font" @click="select(font, key, states.browsing)">
                            <div class="preview" x-text="font.family" :style="style(font.family)"></div>
                            <span x-text="key"></span>
                          </div>
                        </template>
                      </div>
                      <p x-show="empty" style="text-align: center">
                        Aún no hay fuentes configuradas.
                        <br />
                        Agrega una nueva fuente para comenzar
                      </p>
                      <div class="actions">
                        <button @click="set(states.browsing)">Fuentes</button>
                      </div>
                    </div>
                  </div>
                  <div x-show="on(states.browsing)" x-transition:enter.delay.75ms>
                    <div class="fonts">
                      <div class="actions">
                        <button @click="set(states.initial)">Volver</button>
                      </div>
                      <fieldset role="group">
                        <legend>Fuentes</legend>
                        <input
                          type="text"
                          placeholder="Buscar fuente"
                          @input.debounce.500ms="search($event.target.value)"
                        />
                      </fieldset>
                      <div class="list" @scroll.debounce.200ms="scroll($event)">
                        <template x-for="font in fonts" :key="font.family">
                          <div class="font" @click="select(font, selected.tag)">
                            <div class="preview" x-text="font.family" :style="style(font.family)"></div>
                          </div>
                        </template>
                      </div>
                    </div>
                  </div>
                  <div x-show="on(states.configuring)" x-transition:enter.delay.75ms>
                    <template x-if="selected.font">
                      <div class="fonts configure">
                        <div class="actions">
                          <button type="button" @click="set(states.browsing)" :disabled="loading">Volver</button>
                        </div>
                        <h1 x-text="selected.font.family" :style="style(selected.font.family)"></h1>
                        <form @submit.prevent="add()">
                          <small
                            >Use "primary" para cambiar la fuente base de la página o "headings" para cambiar los
                            encabezados</small
                          >
                          <fieldset>
                            <legend>Tag</legend>
                            <input name="tag" x-model="selected.tag" required />
                          </fieldset>
                          <div class="actions">
                            <button type="submit" :disabled="loading">Guardar</button>
                          </div>
                        </form>
                      </div>
                    </template>
                  </div>
                </div>
              </template>
            </div>
          </template>
        </div>

        <!-- Files Page -->
        <div x-show="on(states.files)" x-transition:enter.delay.75ms class="grow">
          <div x-data="files" class="files">
            <!-- List files -->
            <div x-show="on(states.initial)" x-transition:enter.delay.75ms>
              <div class="actions">
                <input type="file" x-ref="input" hidden accept="image/*,video/*" multiple @change="upload($event)" />
                <button @click="$refs.input.click()" class="clear">{{ template "add.svg" }}</button>
              </div>
              <div class="grid">
                <template x-for="file in files" :key="file.id">
                  <div class="item" @click="select(file)">
                    <div class="hover" :title="file.name"></div>
                    <template x-if="file.mimeType.startsWith('image')">
                      <img x-bind:src="filepath + file.name" :title="file.name" :alt="file.name" />
                    </template>
                    <template x-if="file.mimeType.startsWith('video')">
                      <video x-bind:src="filepath + file.name" :title="file.name" :alt="file.name"></video>
                    </template>
                  </div>
                </template>
              </div>
            </div>

            <!-- Edit File -->
            <div x-show="on(states.edit)" x-transition:enter.delay.75ms>
              <template x-if="selected">
                <div class="edit">
                  <div class="actions">
                    <button type="button" @click="set(states.initial)">Volver</button>
                  </div>

                  <div class="preview">
                    <template x-if="selected.mimeType.startsWith('image')">
                      <img x-bind:src="filepath + selected.name" :title="selected.name" :alt="selected.name" />
                    </template>
                    <template x-if="selected.mimeType.startsWith('video')">
                      <video
                        x-bind:src="'filepath + selected.name"
                        :title="selected.name"
                        :alt="selected.name"
                        controls
                      ></video>
                    </template>
                  </div>
                  <form @submit.prevent="update()">
                    <fieldset>
                      <legend>Nombre</legend>
                      <input name="name" x-model="data.name" required />
                    </fieldset>

                    <div class="actions around">
                      <button type="button" class="danger" @click="drop()">Eliminar</button>
                      <button type="submit" :disabled="loading">Guardar</button>
                    </div>
                  </form>
                </div>
              </template>
            </div>
          </div>
        </div>

        <!-- Editor Page -->
        <div style="height: 80%" x-show="on(states.editor)" x-transition:enter.delay.75ms>
          <template x-if="on(states.editor)">
            <div x-data="mirror(data.body)" @update="edit($event.detail)"></div>
            <div class="actions">
              <button @click="update()" :disabled="loading">Guardar</button>
            </div>
          </template>
        </div>

        <!-- Styles Page -->
        <div style="height: 80%" x-show="on(states.styles)" x-transition:enter.delay.75ms>
          <template x-if="on(states.styles)">
            <div x-data="mirror(data.styles, 'css')" @update="edit($event.detail, 'styles')"></div>
            <div class="actions">
              <button @click="update()" :disabled="loading">Guardar</button>
            </div>
          </template>
        </div>
      </div>

      <!-- Preview Page -->
      <div class="page" x-show="srcdoc" x-transition>
        <iframe x-ref="iframe" :srcdoc="srcdoc"></iframe>
      </div>
    </div>
  </template>
</div>
{{end}}
