<!-- Title -->
{{define "title"}} Roles {{end}}

<!-- Links -->
{{ define "links"}}
<link rel="stylesheet" href="/assets/static/dashboard/dist/roles.min.css" />
{{end}}

<!-- Scripts -->
{{ define "scripts"}}
<script src="/assets/static/dashboard/dist/roles.min.js"></script>
{{end}}

<!-- Content -->
{{define "content"}}
<div class="container" x-data="roles">
  <table>
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <template x-for="role in roles" :key="role.id">
        <tr>
          <td x-text="role.userName"></td>
          <td x-text="role.userEmail"></td>
          <td x-text="role.name"></td>
          <td>
            <div role="group">
              <button class="warning">{{ template "edit.svg"}}</button>
              <button class="danger">{{ template "trash.svg"}}</button>
            </div>
          </td>
        </tr>
      </template>
    </tbody>
  </table>

  <div class="actions">
    <button class="primary clear" @click="modals.invitation = true">{{ template "add.svg"}}</button>
    <div class="modal" :class="{ open: modals.invitation }" @click.self="modals.invitation = false">
      <div class="modal-content" x-data="invitation" @submitted="modals.invitation = false">
        <div class="modal-header">
          <h2 class="modal-title">Invitar usuario</h2>
          <button class="modal-close" @click="modals.invitation = false"></button>
        </div>
        <div class="modal-body">
          <form @submit.prevent="invite">
            <fieldset>
              <legend>Nombre</legend>
              <input name="name" x-model="userDisplayName" required />
            </fieldset>
            <fieldset>
              <legend>Correo</legend>
              <input name="email" type="email" x-model="userEmail" required />
            </fieldset>
            <div class="actions">
              <button type="submit" class="primary">Invitar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
