{{ define "title"}} Sitios {{end}}

<!-- Links -->
{{ define "links"}}
<link rel="stylesheet" href="/assets/static/dashboard/dist/pages.min.css" />
<link rel="stylesheet" href="/assets/static/dashboard/dist/coloris.min.css" />
{{end}}

<!-- Scripts -->
{{ define "scripts"}}
<script src="/assets/static/dashboard/dist/monaco/loader.js"></script>
<script src="/assets/static/dashboard/dist/coloris.min.js"></script>
{{end}}

<!-- Content -->
{{ define "content" }}

<div class="container" id="container">


  <div class="editor" data-editor>
    {{ with .Data }}

    <!-- Page Selector -->
    <div role="tablist" hx-get="/dashboard/pages?type={{.SelectedType}}&key={{.SelectedKey}}"
      hx-vals="js:{section: event.target.dataset.section }" hx-trigger="click target:button[data-section]"
      hx-target="#tab-content" hx-push-url="true">

      <!-- Initial Section -->
      <button data-section="initial" role="tab" aria-selected="false" aria-controls="tab-content">
        {{template "home.svg"}}
      </button>

      <!-- Create Section -->
      <button data-section="create" role="tab" aria-selected="false" aria-controls="tab-content">
        {{template "add.svg"}}
      </button>

      <!-- Delete Section -->
      {{if .SelectedIsDeleteable}}
      <button data-section="delete" role="tab" aria-selected="false" aria-controls="tab-content">
        {{template "trash.svg"}}
      </button>
      {{end}}

      <!-- Opengraph -->
      {{if .SelectedIsAPage}}
      <button data-section="opengraph" role="tab" aria-selected="false" aria-controls="tab-content">
        {{template "web_traffic.svg"}}
      </button>
      {{end}}

      <!-- Image Section -->
      <button data-section="files" role="tab" aria-selected="false" aria-controls="tab-content">
        {{template "image.svg"}}
      </button>

      {{if .SelectedIsForWeb }}
      <!-- Fonts Section -->
      <button data-section="fonts" role="tab" aria-selected="false" aria-controls="tab-content">
        {{template "brand_family.svg"}}
      </button>

      <!-- Colors Section -->
      <button data-section="colors" role="tab" aria-selected="false" aria-controls="tab-content">
        {{template "palette.svg"}}
      </button>

      <!-- Styles Section -->
      <button data-section="styles" role="tab" aria-selected="false" aria-controls="tab-content">
        {{template "css.svg"}}
      </button>

      <!-- Script Section -->
      <button data-section="script" role="tab" aria-selected="false" aria-controls="tab-content">
        {{template "js.svg"}}
      </button>
      {{end }}

      <!-- HTML Section -->
      <button data-section="html" role="tab" aria-selected="false" aria-controls="tab-content">
        {{template "html.svg"}}
      </button>

      <!-- Publish Section -->
      <button data-section="publish" role="tab" aria-selected="false" aria-controls="tab-content">
        {{template "publish.svg"}}
      </button>
    </div>
    {{end }}

    <div class="content" id="tab-content">
      {{ template "tab_content" . }}
    </div>
  </div>

  <!-- Preview Page -->
  {{ template "preview" .}}
</div>
{{end}}

<!-- Tab Content -->
{{define "tab_content"}}
{{with .Data}}
{{if eq .Section "create"}}
{{ template "create" $}}
{{else if eq .Section "delete"}}
{{ template "delete" $}}
{{else if eq .Section "opengraph"}}
{{ template "opengraph" $}}
{{else if eq .Section "files"}}
{{ template "files" $}}
{{else if eq .Section "fonts"}}
{{ template "fonts" $}}
{{else if eq .Section "colors"}}
{{ template "colors" $}}
{{else if eq .Section "styles"}}
{{ template "edit_styles" $}}
{{else if eq .Section "script"}}
{{ template "edit_script" $}}
{{else if eq .Section "html"}}
{{ template "edit_html" $}}
{{else if eq .Section "publish"}}
{{ template "publish" $}}
{{else}}
{{ template "initial" $}}
{{end}}
{{end}}
{{end}}

<!-- Site Preview -->
{{define "preview"}}
{{with .Data}}
<div class="preview">
  <div class="resizeable">
    <iframe src="/dashboard/pages/preview?key={{.SelectedKey}}&type={{.SelectedType}}"></iframe>
  </div>
</div>
{{end}}
{{end}}

<!-- Initials Select Site Page  -->
{{define "initial"}}
{{ with .Data}}
<fieldset role="group">
  <legend>Tipo de Plantilla</legend>
  <select hx-get="/dashboard/pages" hx-trigger="change" hx-vals="js:{type: event.target.value}" hx-target="#container"
    hx-swap="outerHTML" hx-push-url="true">
    <option value="page" {{.SelectedAttr .SelectedIsAPage }}>Sitio</option>
    <option value="layout" {{.SelectedAttr .SelectedIsALayout }}>Diseño</option>
    <option value="email" {{.SelectedAttr .SelectedIsAnEmail }}>Correo</option>
  </select>
</fieldset>
<fieldset>
  <legend>Seleccionar Plantilla</legend>
  <select hx-get="/dashboard/pages?type={{.SelectedType}}" hx-trigger="change" hx-vals="js:{key: event.target.value}"
    hx-target=".container" hx-swap="outerHTML" hx-push-url="true">
    {{range $key, $value := .SelectedTypeOptions}}
    <option value="{{$key}}" {{$.Data.SelectedAttr $.Data.SelectedKey $key}}>{{$key}}</option>
    {{end}}
  </select>
</fieldset>

<form>
  <!-- Page Form -->
  {{if .SelectedIsAPage}}
  <fieldset>
    <legend>Nombre</legend>
    <input name="name" required value="{{.Selected.Name}}" {{if .PageIsIndex}}disabled{{end}} />
  </fieldset>
  <fieldset role="group">
    <legend>Url</legend>
    <input name="url" value="{{.PageUrl}}" required {{if .PageIsIndex}}disabled{{end}} />
  </fieldset>
  <fieldset>
    <legend>Titulo</legend>
    <input name="title" value="{{.Selected.Title}}" />
  </fieldset>
  <fieldset>
    <legend>Descripción</legend>
    <textarea name="description" rows="4" autocomplete="off" style="resize: none" cols="10">
          {{- .Selected.Description -}}
        </textarea>
  </fieldset>

  <fieldset role="group">
    <legend>Diseño</legend>
    <select name="layout" autocomplete="off">
      <option value="{{.SelectedAttr .Selected.Layout ``}}">Ninguno</option>
      {{range $key, $value := .Draft.Layouts}}
      <option value="{{$key}}" {{$.Data.SelectedAttr $.Data.Selected.Layout $key }}>{{$value.Title}}</option>
      {{end}}
    </select>
  </fieldset>
  {{end}}

  <!-- Layout Form -->
  {{ if .SelectedIsALayout}}
  <fieldset>
    <legend>Nombre</legend>
    <input name="name" required />
  </fieldset>
  <fieldset>
    <legend>Titulo</legend>
    <input name="title" required />
  </fieldset>
  {{end}}

  <!-- Email Form -->
  {{ if .SelectedIsAnEmail}}
  <fieldset>
    <legend>Asunto</legend>
    <textarea name="subject" required style="resize: none; height: 4em" cols="10"></textarea>
  </fieldset>
  {{end}}

  <div class="actions">
    <button type="submit" :disabled="loading">Guardar</button>
  </div>
</form>
{{end}}
{{end}}

<!-- Create Tab -->
{{define "create"}}
<form>
  <fieldset role="group">
    <legend>Tipo de Plantilla</legend>
    <select name="type">
      <option value="pages">Sitio</option>
      <option value="layouts">Diseño</option>
    </select>
  </fieldset>

  <div>
    <fieldset>
      <legend>Nombre</legend>
      <input name="name" required />
    </fieldset>
    <fieldset>
      <legend>Titulo</legend>
      <input name="title" required />
    </fieldset>
  </div>
  <div class="actions">
    <button>Crear</button>
  </div>
</form>
{{end}}

<!-- Delete Page -->
{{define "delete"}}
<div class="delete">
  <p>¿Estás seguro de que deseas eliminar este sitio ?</p>
  <div class="actions">
    <button>Cancelar</button>
    <button class="danger">Eliminar</button>
  </div>
</div>
{{end}}

<!-- Opengraph Page -->
{{define "opengraph"}}
{{with .Data}}
<form>
  <fieldset>
    <legend>Titulo Opengraph</legend>
    <input name="title" value="{{.Selected.OGTitle}}" required />
  </fieldset>
  <fieldset>
    <legend>Descripción Opengraph</legend>
    <textarea name="description" required style="resize: none; height: 4em" cols="10">
    {{- .Selected.OGDescription -}}
    </textarea>
  </fieldset>
  <fieldset>
    <legend>Imagen Opengraph</legend>
    <input name="image" value="{{.Selected.OGImage}}" required />
  </fieldset>
  <fieldset>
    <legend>Tipo Opengraph</legend>
    <select name="type">
      <option value="" {{.SelectedAttr .Selected.OGType "" }}>Ninguno</option>
      <option value="website" {{.SelectedAttr .Selected.OGType "website" }}>Sitio Web</option>
      <option value="article" {{.SelectedAttr .Selected.OGType "article" }}>Artículo</option>
      <option value="profile" {{.SelectedAttr .Selected.OGType "profile" }}>Perfil</option>
      <option value="product" {{.SelectedAttr .Selected.OGType "product" }}>Producto</option>
    </select>
  </fieldset>
  <div class="actions">
    <button>Guardar</button>
  </div>
</form>
{{end}}
{{end}}



<!-- Fonts Section -->
{{define "fonts"}}
<div class="fonts">
  <div class="list">
    {{ range $key, $font := .Data.Draft.Fonts }}
    <div class="font">
      <div class="preview">{{$font.Family}}</div>
      <span>{{$key}}</span>
    </div>
    {{end}}
  </div>
  <p style="text-align: center">
    Aún no hay fuentes configuradas.
    <br />
    Agrega una nueva fuente para comenzar
  </p>
  <div class="actions">
    <button data-section="browse_fonts">Fuentes</button>
  </div>
</div>
{{end}}

<!-- Browse Fonts Page -->
{{ define "browse_fonts"}}
<div class="actions">
  <button data-section="fonts">Volver</button>
</div>
<fieldset role="group">
  <legend>Fuentes</legend>
  <input type="text" placeholder="Buscar fuente" />
</fieldset>
<div class="list scrollable">
  {{ range .Data.Fonts }}
  <div class="font">
    <div class="preview">{{.Family}}</div>
  </div>
  {{end}}
</div>
{{end}}

<!-- Configuring font -->
{{define "configure_font"}}
<div class="configure">
  <div class="actions">
    <button data-section="browse_fonts">Volver</button>
  </div>
  <h1>{{.SelectedFont.Family}}</h1>
  <form>
    <small>
      Use "primary" para cambiar la fuente base de la página o "headings" para cambiar los
      encabezados
    </small>
    <fieldset>
      <legend>Tag</legend>
      <input name="tag" required />
    </fieldset>
    <div class="actions">
      <button type="submit">Guardar</button>
    </div>
  </form>
</div>
{{end}}



<!-- List Files -->
{{define "files"}}
<div class="grow files">
  <div class="actions">
    <input type="file" hidden accept="image/*,video/*" multiple />
    <button class="clear">{{ template "add.svg" }}</button>
  </div>
  <div class="grid">
    {{range .Data.Files }}
    <div class="item">
      <div class="hover" title="{{.Name}}"></div>
      {{ if eq .Preset "image" }}
      <img src="{{$.Data.FileURL .Name}}" title="{{.Name}}" alt="{{.Name}}" />
      {{ end }}
      {{ if eq .Preset "video" }}
      <video src="{{$.Data.FileURL .Name}}" title="{{.Name}}" alt="{{.Name}}" muted></video>
      {{ end }}
    </div>
    {{end}}
  </div>
</div>
{{end}}

<!-- Edit File -->
{{define "edit_file"}}
<div class="edit">
  <div class="actions">
    <button type="button" @click="set(states.initial)">Volver</button>
  </div>

  <div class="preview">
    {{ with .Data.SelectedFile }}

    {{if .Preset "image" }}
    <img src="{{$.Data.FileURL .Name}}" title="{{.Name}}" alt="{{.Name}}" />
    {{end}}

    {{if eq .Preset "video" }}
    <video src="{{$.Data.FileURL .Name}}" title="{{.Name}}" alt="{{.Name}}" controls></video>
    {{end}}

    {{end}}
  </div>

  <table class="compact">
    <thead>
      <tr>
        <th>Variante</th>
        <th>Dimensiones</th>
        <th>Tamaño</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      {{range .Data.SelectedFile.Formats}}
      <tr>
        <td>{{.Variant}}</td>
        <td>{{.Width}}x{{.Height}}</td>
        <td>{{.Size}}</td>
        <td>{{.ContentType}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>

  <form @submit.prevent="update()">
    <fieldset>
      <legend>Nombre</legend>
      <input name="name" x-model="data.name" required />
    </fieldset>

    <div class="actions around">
      <button type="button" class="danger">Eliminar</button>
      <button type="submit">Guardar</button>
    </div>
  </form>
</div>

{{end}}

<!-- Colors Page -->
{{define "colors"}}
<div class="colors">
  {{ range $key, $color := .Data.Draft.Colors }}
  <div class="color">
    <div class="field" style="background-color: color; color: white">
      <input value="{{$key}}" />
      <input value="{{$color}}" data-coloris />
    </div>
    <small class="hint">
      {{ template "css.svg" }}
      <pre>var(--<span>{{$key}}</span>-color)</pre>
    </small>
  </div>
  {{ end }}
  <div class="actions">
    <button class="clear">{{ template "add.svg" }}</button>
  </div>
</div>
{{end}}

<!-- HTML Editor Page -->
{{ define "edit_html" }}
<div class="monaco"></div>
{{end}}

<!-- Styles Editor Page -->
{{define "edit_styles" }}
<div class="monaco"></div>
{{end}}

<!-- Script Editor Page -->
{{define "edit_script" }}
<div class="monaco"></div>
{{end}}

<!-- Publish Page -->
{{define "publish"}}
<div class="publish">
  <p>
    ¿Estás seguro de que deseas publicar la configuración? <br />
    Esta estará disponible para los usuarios finales
  </p>
  <div class="actions">
    <button>Cancelar</button>
    <button class="warning">Publicar</button>
  </div>
</div>
{{end}}