<!-- Title -->
{{define "title"}} Roles {{end}}

<!-- Links -->
{{ define "links"}}
<link rel="stylesheet" href="/assets/static/dashboard/dist/roles.min.css" />
{{end}}

<!-- Scripts -->
{{ define "scripts"}}
<script src="/assets/static/dashboard/dist/roles.min.js"></script>
{{end}}

<!-- Content -->
{{define "content"}}
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{range .Data.Roles}}
      <tr hx-get="/dashboard/empty" hx-trigger="deleted-{{.ID.Hex}} from:body" hx-swap="outerHTML swap:250ms">
        <td>{{.UserName}}</td>
        <td>{{.UserEmail}}</td>
        <td class="capitalize">{{.Name}}</td>
        <td>
          <div role="group">
            {{ if ne .UserID.Hex $.Role.UserID.Hex }}
            <button class="danger" hx-get="/dashboard/roles/modals/deletion/{{.ID.Hex}}?name={{.UserName}}"
              hx-swap="beforeend 250ms" hx-target=".container" hx-disabled-elt="this">
              {{ template "trash.svg" }}
            </button>
            {{ end }}
          </div>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>

  <div class="actions">
    <button class="primary clear" hx-get="/dashboard/roles/modals/invitation" hx-swap="beforeend swap:250ms"
      hx-target=".container" hx-disabled-elt="this">
      {{ template "add.svg"}}
    </button>
  </div>

</div>
{{end}}


<!-- Invitation Modal -->
{{define "invitation_modal"}}
<div class="modal open" hx-trigger="click target:.modal, click from:.modal-close, keyup[key == 'Escape'] from:window"
  hx-get="/dashboard/empty" hx-swap="outerHTML swap:250ms">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Invitar usuario</h2>
      <button class="modal-close"></button>
    </div>
    <div class="modal-body">
      <form hx-post="/dashboard/roles/modals/invitation" hx-target=".modal" hx-swap="outerHTML swap:250ms"
        hx-disable-elt="find button">
        <fieldset>
          <legend>Nombre</legend>
          <input name="name" required />
        </fieldset>
        <fieldset>
          <legend>Correo</legend>
          <input name="email" type="email" required />
        </fieldset>
        <div class="actions">
          <button>Invitar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{end}}



<!-- Deletion Modal -->
{{ define "deletion_modal"}}
<div class="modal open"
  hx-trigger="click target:.modal, click from:.modal-close, click from:.cancel, keyup[key == 'Escape'] from:window"
  hx-get="/dashboard/empty" hx-swap="outerHTML swap:250ms">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Eliminar usuario</h2>
      <button class="modal-close"></button>
    </div>
    <div class="modal-body">
      <form hx-delete="/dashboard/roles/{{.Data.ID.Hex}}" hx-target=".modal" hx-swap="outerHTML swap:250ms"
        hx-disabled-elt=".actions button">
        <p>¿Estás seguro de que deseas eliminar a <b>{{.Data.Name}}</b>?</p>
        <div class="actions">
          <button class="secondary cancel">Cancelar</button>
          <button class="danger">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{end}}