package pages

templ Delete(data *State) {
	<div class="delete">
		<p>¿Estás seguro de que deseas eliminar este sitio ?</p>
		<div class="actions">
			<button>Cancelar</button>
			<button class="danger">Eliminar</button>
		</div>
	</div>
}