package pages

import "github.com/yaien/cultural/internal/modules/configs/internal/models"

templ EditStyles(data *State) {
	{{
		var source string
		switch selected := data.Selected.(type) {
		case *models.Page:
			source = selected.Styles
		case *models.Layout:
			source = selected.Styles
		}
	}}
	<x-editor class="monaco" editor="styles" language="css" value={ source }></x-editor>
}
