package pages

import "fmt"

templ Preview(state *State) {
	<div class="page">
		<div class="resizeable">
			<iframe src={ fmt.Sprintf("/dashboard/pages/preview?key=%s&type=%s", state.SelectedKey, state.SelectedType) }></iframe>
		</div>
	</div>
}
