package pages



templ Publish(state *State) {
	<div class="publish">
		<p>
			¿Estás seguro de que deseas publicar la configuración
			<br/>
			Esta estará disponible para los usuarios finales
		</p>
		<div class="actions">
			<button>Cancelar</button>
			<button class="warning">Publicar</button>
		</div>
	</div>
}