package pages

import (
	"fmt"
	"github.com/yaien/cultural/internal/application/label"
)

templ Actions(state *State) {
	<div class="functions" hx-vals={ state.HxSelectedVals() }>
		<div class="actions">
			<button
				class="clear"
				hx-get={ Path }
				hx-vals={ fmt.Sprintf("{ %q: %q }", SectionQuery, CreateActionSection) }
				hx-target={ "#" + EditorID }
				hx-swap="outerHTML"
				hx-push-url="true"
			>
				<i class="fa-solid fa-plus"></i>
			</button>
		</div>
		<div class="list">
			{{
				actions := []*label.Action{}
				setups := state.Actions()

				switch selected := state.Selected.(type) {
				case *label.Page:
					actions = selected.Actions
				case *label.Layout:
					actions = selected.Actions
				}
			}}
			for _, action := range actions {
				<div
					class="function"
					hx-get={ Path }
					hx-vals={ fmt.Sprintf("{ %q: %q, %q: %q}", SectionQuery, EditActionSection, ActionQuery, action.Function) }
					hx-target={ "#" + EditorID }
					hx-swap="outerHTML"
					hx-push-url="true"
				>
					if setup, ok := setups[action.Function]; ok {
						{ setup.Title }
					}
				</div>
			}
		</div>
	</div>
}

templ CreateAction(state *State) {
	{{ actions := state.Actions() }}
	<div class="functions" hx-vals={ state.HxSelectedVals() }>
		<div class="actions">
			<button
				hx-get={ Path }
				hx-target={ "#" + EditorID }
				hx-swap="outerHTML"
				hx-vals={ fmt.Sprintf("{ %q: %q}", SectionQuery, ActionSection) }
				hx-push-url="true"
			>
				Volver
			</button>
		</div>
		<form hx-post="/dashboard/actions" hx-vals={ state.HxSelectedVals() } hx-swap="none">
			<fieldset>
				<legend>Función</legend>
				<select name="function" required>
					for value, action := range actions {
						<option value={ value }>{ action.Title }</option>
					}
				</select>
			</fieldset>
			<div class="actions">
				<button type="submit">Crear</button>
			</div>
		</form>
	</div>
}

templ EditAction(state *State) {
	{{
		var actions []*label.Action
		var action *label.Action
		switch selected := state.Selected.(type) {
		case *label.Page:
			actions = selected.Actions
		}

		for _, a := range actions {
			if a.Function == state.SelectedAction {
				action = a
			}
		}

		if action == nil {
			return
		}
	}}
	<div class="functions" hx-vals={ state.HxSelectedVals() }>
		<div class="actions">
			<button
				hx-get={ Path }
				hx-target={ "#" + EditorID }
				hx-swap="outerHTML"
				hx-vals={ fmt.Sprintf("{ %q: %q}", SectionQuery, ActionSection) }
				hx-push-url="true"
			>
				Volver
			</button>
		</div>
		<form hx-put={ "/dashboard/actions/" + action.Function } hx-swap="none">
			<fieldset>
				<legend>Función</legend>
				<select name="function" required>
					<option value="add_product_to_cart" selected?={ action.Function == "add_product_to_cart" }>
						Agregar producto al carrito
					</option>
				</select>
			</fieldset>
			<fieldset class="body">
				<legend>Body</legend>
				<input type="hidden" name="body" value={ action.Body } x-ref="body"/>
				<div style="height: 200px; margin-bottom: var(--space); ">
					<div
						class="monaco"
						x-data={ fmt.Sprintf("monaco({ language: %q, source: %q })", "html", action.Body) }
						@editorinput="$refs.body.value = $event.detail.value"
					>
						<div class="spinner" x-show="loading">
							<i class="fa-solid fa-spinner"></i>
						</div>
					</div>
				</div>
			</fieldset>
			<div class="actions">
				<button type="button" class="add small" hx-get="/dashboard/action-header" hx-target="#headers" hx-swap="afterbegin">
					<i class="fa-solid fa-plus"></i> Header
				</button>
			</div>
			<div id="headers" class="headers">
				for name, value := range action.Headers {
					@ActionHeader(name, value)
				}
			</div>
			<div class="actions">
				<button type="submit">Guardar</button>
			</div>
		</form>
	</div>
}

templ ActionHeader(name, value string) {
	<fieldset class="header">
		<input name="headers_names" placeholder="Nombre" required value={ name }/>
		<input name="headers_values" placeholder="Valor" required value={ value }/>
		<button type="button" class="danger clear small" hx-get="/dashboard/empty" hx-target="closest .header" hx-swap="outerHTML">
			<i class="fa-solid fa-trash"></i>
		</button>
	</fieldset>
}

templ DeleteAction(state *State) {
}
