:root {
    --font-family-primary: "Inter", sans-serif;
    --aside-width: 180px;
    --aside-padding: 10px;
    --aside-space: 20px;
    --aside-bg-color: #f3f4f5;
    --aside-border-color: transparent;
    --aside-text-color: #a1a1aa;
    --header-height: 60px;
    --header-bg-color: #f3f4f5;
    --header-text-color: #a1a1aa;
    --header-border-color: transparent;
    --main-bg-color: white;
    --main-text-color: #71717a;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-family-primary);
    font-optical-sizing: auto;
    margin: 0;

   
}

body.open aside {
    transform: translateX(0);
}

aside {
    transform: translateX(-100%);
    width: var(--aside-width);
    background-color: var(--aside-bg-color);
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--aside-padding);
    margin: 0;
    border-right: 1px solid var(--aside-border-color);
    box-shadow: 1px 0 3px var(--shadow-color);
    transition: all 0.5s ease;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

aside h2 {
    color: var(--aside-text-color);
    text-align: center;
    margin-top: 7px;
    margin-bottom: 36px;
}

aside a {
    padding: 0.5rem;
    text-decoration: none;
    color: var(--aside-text-color);
    display: flex;
    align-items: center;
}

aside nav {
    flex-grow: 1;
}

aside ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

aside li {
    list-style: none;
    margin: 1rem 0;
    width: 100%;
}

aside li.active a {
    background-color: var(--aside-text-color);
    color: var(--header-bg-color);
    border-radius: 0.8rem;
}

aside svg {
    margin-right: 0.5rem;
}

aside .footer {
    min-height: fit-content;
    text-align: center;
    color: var(--aside-text-color);
}

main {
    padding-left: var(--aside-space);
    padding-right: var(--aside-space);
    padding-top: var(--header-height);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    transition: all 0.5s ease;
    margin: 0;
    height: 100vh;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

body.open main {
    padding-left: calc(var(--aside-width) + var(--aside-padding) * 2 + var(--aside-space));
}


header {
    padding-left: var(--aside-space);
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    height: var(--header-height);
    border-bottom: 1px solid var(--header-border-color);
    box-shadow: 0 1px 3px var(--shadow-color);
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    z-index: 1;
    position: absolute;
    width: 100vw;
    box-sizing: border-box;
}

body.open header {
    padding-left: calc(var(--aside-width) + var(--aside-padding) * 2 + var(--aside-space));
}

header .title {
    flex-grow: 1;
}

header .account {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



header button.toggle {
    color: var(--header-text-color);
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    align-items: center;
}



header h3 {
    margin: 0;
    font-size: 20px;
}