.container {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.page {
    flex-grow: 1;
}

.page iframe {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 1px 1px 5px var(--shadow-color);
    border-radius: 0.5rem;
}

.edit {
    width: 40%;
    box-shadow: 1px 1px 5px var(--shadow-color);
    border-radius: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
    max-height: 80%;
}

.actions {
    text-align: center;
    padding-bottom: 1rem;
}

.cm-editor {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
}

.cm-editor:focus {
    outline: none;
}

.fonts .font {
    padding: 0.5rem;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fonts .font:last-child {
    border-bottom: none;
}

.fonts .font:hover {
    background-color: var(--header-bg-color);
    cursor: pointer;
}

.fonts .font .preview {
    font-size: 1rem;
    padding: 0.5rem 0;
    white-space: nowrap;
    overflow: hidden;
}

.fonts .list {
    max-height: 70%;
    overflow: auto;
    scroll-behavior: smooth;
    margin-bottom: 0.5rem;
}

.fonts.configure {
    text-align: center;
}

.fonts.configure .actions {
    display: flex;
    justify-content: space-around;
}

.fonts.configure small {
    margin-bottom: 1rem;
    display: block;
}

.files .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    max-height: 70%;
    overflow: auto;
    scroll-behavior: smooth;
    margin-bottom: 2rem;
}

.files .grid .item {
    position: relative;
    height: 200px;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 1px 1px 5px var(--shadow-color);
}

.files .grid img,
.files .grid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.files .grid .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.files .grid .item [role="group"] {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin-bottom: 0.5rem;
    left: 10%;
}

.files .grid .item [role="group"] button {
    flex-grow: 1;
    padding: 0.2rem;
    /* border-radius: 0; */
}
