LOG_LEVEL=-4
LOG_FORMAT=tint

SERVER_ADDR=:3000
SERVER_URL=http://localhost:3000

MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=cultural

INIT_HOST=localhost:3000
INIT_TITLE=Cultural App
INIT_URL=http://localhost:3000
INIT_EMAIL=cultural@example.com

STORAGE_PROVIDER=local
STORAGE_LOCAL_PATH=storage

SESSION_SECRET=

MAIL_PROVIDER=mailtrap
MAIL_MAILTRAP_TOKEN=
MAIL_MAILTRAP_SANDBOX=true
MAIL_MAILTRAP_INBOX_ID=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_API_KEY=
