SERVER_ADDR=:3000

MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=cultural

INIT_HOST=localhost:3000
INIT_TITLE=Cultural App
INIT_URL=http://localhost:3000
INIT_EMAIL=cultural@example.com


STORAGE=local
STORAGE_LOCAL_PATH=storage

SESSION_SECRET=RhmfrwocZWQ1I0a6SP8mlKkmYvPSPPvQ

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=username
SMTP_PASS=password

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=