package dashboard

import "strings"

templ Link(path, href, text string, icon templ.Component) {
	<li class={ templ.KV("active", strings.HasPrefix(path, href)) } title={ text }>
		<a href={ href }>
			@icon
			<span>{ text }</span>
		</a>
	</li>
}
