package integration

import "github.com/yaien/cultural/internal/modules/configs/internal/models"

templ InstagramPage(integration *models.Integration) {
	<div class="content">
		<a href="/dashboard/integrations/instagram/oauth/connect">
			Connect Instagram
		</a>
	</div>
}
