package integrations

import "github.com/yaien/cultural/internal/web/dashboard/views/dashboard"
import "github.com/yaien/cultural/internal/application/integration"

templ Page(definitions []integration.Definition) {
	@dashboard.Page("Integraciones") {
		<div class="container single" data-scope="integrations" id="container">
			<div class="list">
				for _, def := range definitions {
					if itg, ok := def.(integration.Page); ok {
						<div
							class="list-item"
							hx-get={ "/dashboard/integrations/" + def.Name() }
							hx-target="#container"
							hx-swap="beforeend"
							hx-push-url="true"
						>
							<img class="list-image" src={ "/assets/static/dashboard/images/" + itg.PageImage() } alt={ itg.PageTitle() }/>
							<div class="list-content">
								<h3 class="list-title">{ itg.PageTitle() }</h3>
								<p class="list-text">{ itg.PageDescription() }</p>
							</div>
						</div>
					}
				}
			</div>
			{ children... }
		</div>
	}
}

templ Detail(definitions []integration.Definition, def integration.Page, page templ.Component) {
	@Page(definitions) {
		@Modal(def, page)
	}
}

templ Modal(def integration.Page, page templ.Component) {
	@dashboard.Modal(def.PageTitle(), templ.Attributes{"hx-push-url": "/dashboard/integrations"}) {
		@page
	}
}
