package events

import "github.com/yaien/cultural/internal/modules/configs/internal/interface/web/views/dashboard"

templ Page() {
	@dashboard.Page(&dashboard.Meta{Title: "Eventos"}) {
		<h1>Events</h1>
	}
}
