package instagram

import "github.com/yaien/cultural/internal/modules/configs/internal/models"

templ Page(i *models.Integration[Data]) {
	<div class="content">
		<a href="/dashboard/integrations/instagram/oauth/connect">
			Connect Instagram
		</a>
	</div>
}
