:root {
    --primary-font-family: "Inter", sans-serif;
    --aside-width-open: 180px;
    --aside-width-closed: 35px;
    --aside-width: var(--aside-width-closed);
    --aside-padding: 10px;
    --aside-space: 20px;
    --aside-border-color: transparent;
    --header-height: 60px;
    --header-border-color: var(--border-color);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --border-color: #e5e7eb;
    --border-radius: 0.5rem;
    --primary-color: #3b82f6;
    --primary-color-hover: oklch(from var(--primary-color) calc(l + 0.25) calc(c - 0.12) h);
    --primary-color-light: oklch(from var(--primary-color) calc(l + 0.3) calc(c - 0.15) h);
    --primary-color-dark: oklch(from var(--primary-color) calc(l - 0.15) calc(c + 0.06) h);
    --secondary-color: #a1a1aa;
    --secondary-color-hover: oklch(from var(--secondary-color) calc(l + 0.25) calc(c - 0.12) h);
    --secondary-color-light: oklch(from var(--secondary-color) calc(l + 0.25) c h);
    --secondary-color-dark: oklch(from var(--secondary-color) calc(l - 0.15) calc(c + 0.06) h);
    --danger-color: #ef4444;
    --danger-color-hover: oklch(from var(--danger-color) calc(l + 0.25) calc(c - 0.12) h);
    --danger-color-light: oklch(from var(--danger-color) calc(l + 0.3) calc(c - 0.15) h);
    --danger-color-dark: oklch(from var(--danger-color) calc(l - 0.15) calc(c + 0.06) h);
    --warning-color: #f59e0b;
    --warning-color-hover: oklch(from var(--warning-color) calc(l + 0.15) c h);
    --warning-color-light: oklch(from var(--warning-color) calc(l + 0.2) c h);
    --warning-color-dark: oklch(from var(--warning-color) calc(l - 0.15) calc(c + 0.06) h);
    --success-color: #2dd55b;
    --success-color-hover: oklch(from var(--success-color) calc(l + 0.1) calc(c - 0.04) h);
    --success-color-light: oklch(from var(--success-color) calc(l + 0.1) calc(c - 0.08) h);
    --success-color-dark: oklch(from var(--success-color) calc(l - 0.2) calc(c + 0.06) h);
    --light-color: #fafffb;
    --light-color-hover: oklch(from var(--light-color) calc(l + 0.25) calc(c - 0.12) h);
    --light-color-light: oklch(from var(--light-color) calc(l + 0.3) calc(c - 0.15) h);
    --light-color-dark: oklch(from var(--light-color) calc(l - 0.01) c h);
    --dark-color: #111827;
    --dark-color-hover: oklch(from var(--dark-color) calc(l + 0.25) calc(c - 0.12) h);
    --dark-color-light: oklch(from var(--dark-color) calc(l + 0.3) calc(c - 0.15) h);
    --dark-color-dark: oklch(from var(--dark-color) calc(l - 0.15) calc(c + 0.06) h);
}

/* Body Styles */
body {
    font-family: var(--primary-font-family);
    font-optical-sizing: auto;
    margin: 0;
}

/* Aside Styles */
aside {
    width: var(--aside-width);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--aside-padding);
    margin: 0;
    transition: all 0.5s ease;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color-dark);
    border-right: 1px solid var(--border-color);
}

body.open aside {
    --aside-width: var(--aside-width-open);
}

aside h2 {
    text-align: center;
    margin-top: 7px;
    margin-bottom: 36px;
}

aside a {
    padding: 0.3rem;
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

aside nav {
    flex-grow: 1;
}

aside ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

aside li {
    list-style: none;
    margin: 1rem 0;
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
}

body.open aside li a {
    padding: 0.5rem;
}

aside li a {
    color: var(--primary-color);
}

aside li a:hover {
    background-color: var(--primary-color-light);
    color: var(--primary-color);
}

aside li.active a {
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    border-radius: var(--border-radius);
}

aside li a span {
    display: none;
    text-wrap-mode: nowrap;
}

body.open aside li a span {
    display: inline;
}

aside svg {
    margin: auto;
}

body.open aside svg {
    margin: 0 0.5rem;
}

aside .footer {
    min-height: fit-content;
    text-align: center;
    color: var(--aside-text-color);
}

/* Main Content Styles */
main {
    padding-left: calc(var(--aside-width-closed) + var(--aside-space));
    padding-top: var(--header-height);
    background-color: var(--light-color-light);
    color: var(--main-text-color);
    transition: all 0.5s ease;
    margin: 0;
    height: 100vh;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

body.open main {
    padding-left: calc(var(--aside-width-open) + var(--aside-space));
}

/* Header Styles */
header {
    padding-left: calc(var(--aside-width-closed) + var(--aside-space));
    color: var(--primary-color);
    height: var(--header-height);
    background-color: var(--light-color-dark);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    z-index: 1;
    position: absolute;
    width: 100vw;
    box-sizing: border-box;
}

body.open header {
    padding-left: calc(var(--aside-width-open) + var(--aside-space));
}

header .start {
    display: flex;
    align-items: center;
}

header .title {
    flex-grow: 1;
    border-radius: var(--border-radius);
    overflow: hidden;
}

header .account {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header button.toggle {
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    align-items: center;
    box-shadow: none;
    padding: 0.5rem;
    background-color: unset;
    color: var(--primary-color);
}

header h3 {
    margin: 0;
    font-size: 20px;
}

/* Form Styles */
legend {
    font-weight: medium;
}

fieldset {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

fieldset:focus-within {
    border-color: var(--primary-color);
}

select,
input,
textarea {
    width: 100%;
    margin: 0;
    border: none;
    font-size: medium;
    background: none;
}

select:focus,
input:focus,
textarea:focus {
    outline: none;
}

select:disabled,
input:disabled,
textarea:disabled {
    background: none;
}

/* Button Styles */
button {
    padding: 0.8rem;
    font-size: medium;
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    box-shadow: 0 2px 4px var(--shadow-color);
}

button:hover {
    background-color: var(--primary-color-hover);
}

button:disabled {
    cursor: default;
    background-color: var(--secondary-color-light) !important;
    color: var(--secondary-color) !important;
}

button.danger {
    background: var(--danger-color-light);
    color: var(--danger-color);
}

button.danger:hover {
    background-color: var(--danger-color-hover);
}

button.danger.clear {
    color: var(--danger-color);
}

button.danger.clear :hover {
    color: var(--danger-color-dark);
}

button.success {
    background: var(--success-color-light);
    color: var(--success-color-dark);
}

button.success:hover {
    background-color: var(--success-color-hover);
}

button.success.clear {
    color: var(--success-color);
}

button.warning {
    background: var(--warning-color-light);
    color: var(--warning-color-dark);
}

button.warning:hover {
    background-color: var(--warning-color-hover);
}

button.warning.clear {
    color: var(--warning-color);
}

button.dark {
    background: var(--dark-color-light);
    color: var(--light-color);
}

button.dark:hover {
    background-color: var(--dark-color-hover);
}

button.dark.clear {
    color: var(--dark-color);
}

button.dark.clear:hover {
    color: var(--dark-color-dark);
}

button.light {
    background: var(--light-color-light);
    color: var(--dark-color);
}

button.light:hover {
    background-color: var(--light-color-hover);
}

button.light.clear {
    color: var(--light-color);
}

button.light.clear:hover {
    color: var(--light-color-dark);
}

button.clear {
    background: none;
    border: none;
    box-shadow: none;
}

button.clear:hover {
    background: none;
    color: var(--primary-color-dark);
}

button.clear:focus {
    border: none;
}

/* Button Group Styles */
div[role="group"] {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    box-shadow: 0 2px 4px var(--shadow-color);
    width: fit-content;
    border-radius: var(--border-radius);
}

div[role="group"] button {
    padding: 0.5rem;
    border: none;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}

div[role="group"] button:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

div[role="group"] button:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

/* Container Styles */
.container {
    padding: 1rem;
}

/* Table Styles */
table {
    width: 100%;
}

th,
td {
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 0.5rem;
    text-align: center;
    color: var(--dark-color);
}

th {
    color: var(--dark-color-light);
}

td div[role="group"] {
    margin: 0 auto;
}

tbody tr:hover {
    background-color: var(--light-color-dark);
}

/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal.open {
    display: flex;
}

.modal-content {
    background-color: var(--light-color);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px var(--shadow-color);
    width: 90%;
    max-width: 500px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.5rem 0.1rem 0.5rem;
}

.modal-title {
    margin: 0 0.8rem;
}

.modal-close {
    border: none;
    box-shadow: none;
    background: none;
}

.modal-close::after {
    content: "×";
}

.modal-close:hover {
    background: none;
}

.modal-body {
    padding: 1rem;
}

/* Toast Styles */
@keyframes toast-in {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes toast-out {
    from {
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.toast {
    animation: toast-in 0.5s ease-in;
    position: fixed;
    bottom: 0px;
    left: 20%;
    width: 60%;
    margin: auto;
    z-index: 9;
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px var(--shadow-color);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toast.leave {
    animation: toast-out 0.7s ease-out;
}

.toast-close {
    border: none;
    box-shadow: none;
    background: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
}

.toast-close::after {
    content: "×";
}

.toast-close:hover {
    background: none;
}

.toast.success {
    background-color: var(--success-color-light);
    color: var(--success-color-dark);
}

.toast.warning {
    background-color: var(--warning-color-light);
    color: var(--warning-color-dark);
}

.toast.danger {
    background-color: var(--danger-color-light);
    color: var(--danger-color-dark);
}

/* Spinner Styles */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    transform-origin: center;
    animation: spin 1s linear infinite;
    display: flex;
}

.indicator {
    position: absolute;
    top: var(--header-height) + 20px;
    right: 20px;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    border-radius: 100%;
    box-shadow: 0 2px 4px var(--shadow-color);
    padding: 0.25rem;
}

.indicator.success {
    background-color: var(--success-color-light);
    color: var(--success-color-dark);
}
